body {
  font-family: Roboto;
  margin: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.links {
    display: flex;
    justify-content: space-between;
    padding: 8px 64px;
    min-width: 512px
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 16px;
}

a {
    text-decoration: none;
}

.logo-link {
    font-size: 24px;
    color: #F9FAF8;
}

.header-link {
    font-size: 18px;
    color: #E5E7EB;
}

.wrap1 {
    background-color: #1F2937;
    display: flex;
    flex-direction: column;
    padding: 8px 64px;
}

.wrap2 {
    display: flex;
    padding: 8px 64px;
    gap: 32px
}

.about-website {
    display: flex;
    flex-direction: column;
    margin-bottom: 48px;
}

.header-title {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
    margin-bottom: 0;
}

.about-text {
    font-size: 18px;
    color: #E5E7EB;
}

.sign-up {
    display: flex;
    flex-direction: column;
}

.button {
    color: #ffffff;
    background-color: #2882F6;
    max-width: 100px;
    padding: 8px;
    border-radius: 8px;
}

.image-local {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin: 0
}


footer {
  height: 72px;
  background: #eee;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 16px;
}